.ajustar {
  width: 8em;
  height: 8em;
}

.card {
  color: rgb(19, 14, 9);
  width: 17em;
  height: 20em;
}

.card:hover {
  background-color: aquamarine;
  color: black;
  width: 18em;
  height: 21em;
}
